<section class="col s12">
  <h4><span class="main-title"><%= I18n.t(:dashboard, scope: [:views]) %></span></h4>
  <%= render partial: 'shared/error_messages', locals: { target: nil } %>
  <%= render partial: 'experiences/wrapper' %>
  <%= render partial: 'technologies/grid' %>
  <%= render partial: 'tags/grid' %>
  <%= render partial: 'contents/grid' %>
  <%= render partial: 'projects/wrapper' %>
</section>
