<div class="row">
  <div class="input-field col s12">
    <%= form.label :key, :class => 'active'  %><br>
    <%= form.text_field :key %>
  </div>

  <div class="input-field col s12">
    <%= form.label :content %><br><br>
    <%= form.rich_text_area :content %>
  </div>
</div>