<div class="content-block">
  <div id="contents" class="row">
    <div class="col s12">
      <h5><%= I18n.t(:content, scope: [:activerecord, :models]).pluralize %></h5>
      <table>
        <thead>
          <tr>
            <th><%= I18n.t(:key, scope: [:activerecord, :attributes]) %></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @contents.each do |c| %>
            <tr>
              <td><%= c.key %></td>
              <td class="right">
                <%= link_to_edit c, :class => "waves-effect waves-black btn-flat black-text edit-trigger" do %>
                  <%= material_icon_tag :create, nil, :class => 'black-text left' %>
                <% end %>
                <%= link_to_destroy c, :class => "waves-effect waves-black btn-flat black-text delete-trigger" do %>
                  <%= material_icon_tag :delete, nil, :class => 'black-text' %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="actions">
        <div class="action-btn">
          <%= link_to new_content_path, :class => "waves-effect waves-light btn-floating btn-large" do %>
            <%= material_icon_tag :add, nil, :class => 'large' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>