<%= render partial: 'shared/error_messages', locals: { target: @content } %>

<%= form_for @content do |form| %>
  <h5><%= Content.model_name.human %></h5>
  <%= render partial: 'form', locals: { form: form } %>

  <%= render 'shared/submit', form: form %>
<% end %>