<% if flash[:success] %>
  <div id="success_message" class="card-panel green white-text">
    <strong><%= flash[:success] %></strong>
  </div>
<% elsif target && target.errors.any? %>
  <div id="error_message" class="card-panel red white-text">
    <strong><%= I18n.t(:errors_prohibited_this_record_from_being_saved, scope: [:errors, :messages], count: target.errors.size) %>:</strong><br/>
    <ul class="ul-with-markup">
     <% target.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
     <% end %>
    </ul>
  </div>
<% elsif flash[:failure] %>
  <div id="error_message" class="card-panel red white-text">
    <strong><%= flash[:failure] %></strong>
  </div>
<% end %>