<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
<!--         <blockquote class="blockquote white-text">
          <p>
          <em>I’m a greater believer in luck, and I find the harder I work the more I have of it.
           </p> – Thomas Jefferson
        </blockquote> -->
      </div>
      <div class="page-footer .social-media col l6 s12 right">
        <!-- <h5 class="white-text">Links</h5> -->
        <ul>
          <li>
            <a href="https://www.linkedin.com/in/nicolas-roumeliotis-390484106" class="" target="_blank">
              <%= image_tag("social/linkedin-alt.png", size: "100x100", alt: "Linkedin") %></a>
            </li>
          <li>
            <a href="https://gitlab.com/nicrou" class="" target="_blank">
              <%= image_tag("social/gitlab-alt.png", size: "100x100", alt: "Github") %>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2019 All Rights Reserved
    </div>
  </div>
</footer>