<nav class="nav-extended">
  <div class="nav-wrapper">
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="hide-on-med-and-down tabs tabs-fixed-width tabs-transparent">
      <li class="tab"><a href="#about_me"><i class="fa fa-user"></i><%= I18n.t(:title, scope: [:views, :about_me]).upcase %></a></li>
      <li class="tab"><a href="#resume"><i class="fa fa-list-alt"></i><%= I18n.t(:title, scope: [:views, :resume]).upcase %></a></li>
      <li class="tab"><a href="#services"><i class="far fa-handshake"></i><%= I18n.t(:title, scope: [:views, :services]).upcase %></a></li>
      <li class="tab"><a href="#portfolio"><i class="fa fa-th-large"></i><%= I18n.t(:title, scope: [:views, :portfolio]).upcase %></a></li>
      <!--<li class="tab"><a href="#blog"><i class="fa fa-pencil"></i><%#= I18n.t(:blog, scope: [:views]).upcase %></a></li>-->
      <li class="tab"><a href="#contact"><i class="fa fa-comments"></i><%= I18n.t(:title, scope: [:views, :contact]).upcase %></a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav tabs" id="mobile-demo">
  <li class="tab"><a href="#about_me"><i class="fa fa-user"></i><%= I18n.t(:title, scope: [:views, :about_me]).upcase %></a></li>
  <li class="tab"><a href="#resume"><i class="fa fa-list-alt"></i><%= I18n.t(:title, scope: [:views, :resume]).upcase %></a></li>
  <li class="tab"><a href="#services"><i class="far fa-handshake"></i><%= I18n.t(:title, scope: [:views, :services]).upcase %></a></li>
  <li class="tab"><a href="#portfolio"><i class="fa fa-th-large"></i><%= I18n.t(:title, scope: [:views, :portfolio]).upcase %></a></li>
  <!--<li class="tab"><a href="#blog"><i class="fa fa-pencil"></i><%#= I18n.t(:blog, scope: [:views]).upcase %></a></li>-->
  <li class="tab"><a href="#contact"><i class="fa fa-comments"></i><%= I18n.t(:title, scope: [:views, :contact]).upcase %></a></li>
</ul>