<div class="input-field col s12">
  <%= button_tag :submit, class: "btn waves-effect waves-light right", :style => 'margin-left: 10px' do %>
    <%= material_icon_tag :chevron_right, nil, :class => 'right' %>
    <span><%= I18n.t(:submit, scope: [:views, :actions]) %></span>
  <% end %>
  <a href="#!" class="modal-action modal-close waves-effect btn grey white-text">
    <%= material_icon_tag :close, nil, :class => 'left' %>
    <span><%= I18n.t(:cancel, scope: [:views, :actions]) %></span>
  </a>
</div>

<script type="text/javascript">
  $(document).on('click', '.modal-close', function (e) {
    e.preventDefault();
  })
</script>
