<div class="row">
  <div class="input-field col s12">
	  <%= form.button :submit, class: "btn waves-effect waves-light right" do %>
	    <%= material_icon_tag :chevron_right, nil, :class => 'right' %>
	    <span><%= I18n.t(:submit, scope: [:views, :actions]) %></span>
	  <% end %>
	  <%= link_to previous_path, class: "btn grey waves-effect waves-light right", :style => 'margin-right: 10px' do %>
	      <%= material_icon_tag :chevron_left, nil, :class => 'left' %>
	      <span><%= I18n.t(:back, scope: [:views, :actions]) %></span>
	  <% end %>
  </div>
</div>