<section id="about_me" class="col s12 m12 l12 ">
  <h4><span class="main-title"><%= I18n.t(:title, scope: [:views, :about_me]).upcase %></span></h4>

  <div class="content-block">
    <!--<h5><i>Nicolas Roumeliotis</i></h5>-->
    <blockquote class="blockquote"><%= @contents.find_by_key('about_me').try(:content) %></blockquote>
  </div>

  <div id="personal_info" class="content-block">
    <h5><i class="fa fa-info-circle"></i><span><%= I18n.t(:title, scope: [:views, :about_me, :personal_info]) %></span></h5>
    <div class="row">
      <div class="col s12 m6">
        <div class="icon-block center">
          <i class="fa fa-3x fa-language"></i>
          <label class="title"><%= I18n.t(:language, scope: [:views, :about_me, :personal_info]) %></label>
          <label>
            <%= I18n.t(:greek, scope: [:views, :about_me, :personal_info]) %>, 
            <%= I18n.t(:english, scope: [:views, :about_me, :personal_info]) %> 
          </label>
        </div>
      </div>

      <div class="col s12 m6">
        <div class="icon-block center">
          <i class="fa fa-3x fa-map-marker-alt"></i>
          <label class="title"><%= I18n.t(:hometown, scope: [:views, :about_me, :personal_info]) %></label>
          <label><%= I18n.t(:athens, scope: [:views, :about_me, :personal_info]) %></label>
        </div>
      </div>
    </div>
  </div>

  <div id="skillset" class="content-block">
    <h5><i class="far fa-gem"></i><span><%= I18n.t(:skills, scope: [:views, :about_me, :personal_info]) %></span></h5>
    <div class="row">
      <% @technologies.highlights.each do |ht| %>
        <div class="col s12 m6 l6">
          <label><%= ht.name %></label>
            <div class="progress">
              <div class="determinate" data-progress="<%= ht.expertise %>"></div>
          </div>
        </div>
      <% end %>

      <div class="tag-collection col s12 m12 l12"><i class="fa fa-2x fa-tags absolute"></i>
        <div class="chip-wrapper">
          <% @technologies.no_highlights.each do |nh| %>
            <div class="chip"><%= nh.name %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</section>