<section id="contact" class="col s12 m12 l12 ">
  <h4><span class="main-title"><%= I18n.t(:title, scope: [:views, :contact]).upcase %></span></h4>
  <div class="content-block">
    <blockquote class="blockquote"><%= @contents.find_by_key('contact').try(:content) %></blockquote>
  </div>

  <div class="content-block">
    <div class="row">
      <div class="col s12 m6">
        <div class="icon-block center">
          <i class="fa fa-3x fa-envelope"></i>
          <label class="title">Mail</label>
          <label>contact@nickthegeek.gr</label>
        </div>
      </div>

      <div class="col s12 m6">
        <div class="icon-block center ">
          <i class="fab fa-3x fa-linkedin"></i>
          <label class="title">Linkedin</label>
          <label>Nicolas Roumeliotis</label>
        </div>
      </div>
    </div>
  </div>

</section>