<section id="portfolio" class="col s12 m12 l12 ">
  <h4><span class="main-title"><%= I18n.t(:title, scope: [:views, :portfolio]).upcase %></span></h4>

  <div class="content-block">
    <blockquote class="blockquote"><%= @contents.find_by_key('portfolio').try(:content) %></blockquote>
  </div>

  <% Project.pluck(:group).uniq.each do |group| %>
    <div class="content-block projects">
      <h5><%= project_icon_tag group %><span><%= I18n.t(group.to_sym, scope: [:views, :portfolio, :projects]).pluralize %></span></h5>
      <div class="row">
        <% group.classify.constantize.order(release_date: :asc).each do |project| %>
          <div class="col s12 m12 l6">
            <div class="card medium">
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4"><%= project.title %><i class="material-icons right">more_vert</i></span>
                <p><a href="<%= project.link %>" target="_blank" class="btn waves-effect waves-red <%= project.link.blank? ? 'disabled' : '' %>">Live Demo</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"><%= project.title %><i class="material-icons right">close</i></span>
                <label class="card-date"><i class="fa fa-calendar-check"></i>
                  <%= project.currently_working_on.present? ? I18n.t(:currenty_working_on, scope: [:views, :portfolio, :projects]).capitalize : project.release_date.strftime("%d %B %Y") %>
                </label>
                <% if project.description.present? %>
                  <div class="icon-prefix"><i class="fa fa-2x fa-info-circle absolute"></i>
                    <%= project.description.try(:body) %>
                  </div>
                <% end %>
                <% if project.content_source.present? %>
                  <div class="icon-prefix"><i class="fa fa-2x fa-align-justify absolute"></i>
                    <%= project.content_source.try(:body) %>
                  </div>
                <% end %>
                <% if project.notice.present? %>
                  <div class="icon-prefix"><i class="fa fa-2x fa-exclamation-triangle absolute"></i>
                    <%= project.notice.try(:body) %>
                  </div>
                <% end %>
                <% if project.issues.present? %>
                  <div class="icon-prefix"><i class="fa fa-2x fa-bug absolute"></i>
                    <%= project.issues.try(:body) %>
                  </div>
                <% end %>
                <% if project.tags.any? %>
                  <div class="tag-collection"><i class="fa fa-2x fa-tags absolute"></i>
                    <div class="chip-wrapper">
                      <%= project.tags.map { |t| content_tag :div, h(t.name), class: "chip" }.join.html_safe %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  <% end %>
</section>