<section id="resume" class="col s12 m12 l12 ">
  <h4><span class="main-title"><%= I18n.t(:title, scope: [:views, :resume]).upcase %></span></h4>

  <div class="content-block">
    <blockquote class="blockquote"><%= @contents.find_by_key('resume').try(:content) %></blockquote>
    <!-- <a href="/nick_roumeliotis_cv.pdf" class="btn waves-effect waves-red"><i class="fa fa-cloud-download-alt"></i><%#= I18n.t(:download, scope: [:views, :resume]).upcase %></a> -->
  </div>

  <div class="row">
    <div class="col s12 m12 l6">
      <div id="work">
        <h5><i class="fa fa-briefcase"></i><span><%= I18n.t(:work, scope: [:views, :resume, :experiences]).upcase %></span></h5>
        <div class="timeline">
          <ul class="collapsible popout" data-collapsible="accordion">
            <% @experiences.jobs.each do |e| %>
              <li>
                <div class="collapsible-header <%=e.currently_working_on.present? ? 'pending' : 'completed' %>">
                  <span class="title"><%= e.title %></span>
                  <span class="organization"><%= e.organization.html_safe if e.organization.present? %></span>
                  <label class="date">
                    <i class="<%= e.currently_working_on.present? ? 'far fa-calendar' : 'far fa-calendar-check' %>"></i>
                    <%= e.start_date.strftime("%B %Y") %> •
                    <%= e.currently_working_on.present? ? I18n.t(:present, scope: [:views, :resume]).capitalize : e.end_date.strftime("%B %Y") %>
                  </label>
                </div>
                <div class="collapsible-body">
                  <% if e.location.present? %>
                    <i class="fa fa-map-marker-alt"></i><span class="location"><%= e.location.html_safe %></span>
                  <% end %>
                  <span class="content">
                    <%= e.description.try(:body) %>
                  </span>
                </div>
              </li>
            <% end if @experiences.jobs.any? %>
          </ul>
        </div>
      </div>
    </div>

    <div class="col s12 m12 l6">
      <div id="volunteer">
        <h5><i class="fa fa-certificate"></i><span><%= I18n.t(:certification, scope: [:views, :resume, :experiences]).pluralize.upcase %></span></h5>
        <div class="timeline">
          <ul class="collapsible popout" data-collapsible="accordion">
            <% @experiences.certifications.each do |e| %>
              <% c = Certification.find(e.id) %>
              <li>
                <div class="collapsible-header <%= e.currently_working_on.present? ? 'pending' : 'certificate' %>">
                  <span class="title"><%= c.title %></span>
                  <span class="organization"><%= c.organization.html_safe if c.organization.present? %></span>
                  <label class="date">
                    <i class="<%= e.currently_working_on.present? ? 'far fa-calendar' : 'far fa-calendar-check' %>"></i>
                    <%= c.start_date.strftime("%B %Y") %> •
                    <% if c.currently_working_on.present? %>
                      <%= I18n.t(:present, scope: [:views, :resume]).capitalize %>
                    <% else %>
                      <% if c.end_date.present? %>
                        <%= c.end_date.strftime("%B %Y") %>
                      <% else %>
                        <%= I18n.t(:no_expire, scope: [:views, :resume]).capitalize %>
                      <% end %>
                    <% end %>
                  </label>
                </div>
                <div class="collapsible-body">
                  <% if c.location.present? %>
                    <i class="fa fa-map-marker-alt"></i><span class="location"><%= c.location.html_safe %></span>
                  <% end %>
                  <span class="content">
                    <%= c.description.try(:body) %>
                  </span>
                </div>
                <% if c.credentials.present? %>
                  <div class="collapsible-body">
                    <span class="content">
                      <%= c.credentials.try(:body) %>
                    </span>
                  </div>
                <% end %>
              </li>
            <% end if @experiences.certifications.any? %>
          </ul>
        </div>
      </div>
    </div>
  
  </div>

  <div class="row">
    <div class="col s12 m12 l6">
      <div id="education">
        <h5><i class="fa fa-graduation-cap"></i><span><%= I18n.t(:education, scope: [:views, :resume, :experiences]).upcase %></span></h5>
        <div class="timeline">
          <ul class="collapsible popout" data-collapsible="accordion">
            <% @experiences.degrees.each do |e| %>
              <li>
                <div class="collapsible-header <%=e.currently_working_on.present? ? 'pending' : 'degree' %>">
                  <span class="title"><%= e.title %></span>
                  <span class="organization"><%= e.organization.html_safe if e.organization.present? %></span>
                  <label class="date">
                    <i class="<%= e.currently_working_on.present? ? 'far fa-calendar' : 'far fa-calendar-check' %>"></i>
                    <%= e.start_date.strftime("%B %Y") %> •
                    <%= e.currently_working_on.present? ? I18n.t(:present, scope: [:views, :resume]).capitalize : e.end_date.strftime("%B %Y") %>
                  </label>
                </div>
                <div class="collapsible-body">
                  <% if e.location.present? %>
                    <i class="fa fa-map-marker-alt"></i><span class="location"><%= e.location.html_safe %></span>
                  <% end %>
                  <span class="content">
                    <%= e.description.try(:body) %>
                  </span>
                </div>
              </li>
            <% end if @experiences.degrees.any? %>
          </ul>
        </div>
      </div>
    </div>

    <div class="col s12 m12 l6">
      <div id="volunteer">
        <h5><i class="fa fa-hand-holding-heart"></i><span><%= I18n.t(:volunteer, scope: [:views, :resume, :experiences]).upcase %></span></h5>
        <div class="timeline">
          <ul class="collapsible popout" data-collapsible="accordion">
            <% @experiences.volunteers.each do |e| %>
              <li>
                <div class="collapsible-header <%= e.currently_working_on.present? ? 'pending' : 'completed' %>">
                  <span class="title"><%= e.title %></span>
                  <span class="organization"><%= e.organization.html_safe if e.organization.present? %></span>
                  <label class="date">
                    <i class="far fa-calendar-check"></i>
                    <%= e.start_date.strftime("%d") %> •
                    <%= e.currently_working_on.present? ? I18n.t(:present, scope: [:views, :resume]).capitalize : e.end_date.strftime("%d %B %Y") %></label>
                </div>
                <div class="collapsible-body">
                  <% if e.location.present? %>
                    <i class="fa fa-map-marker-alt"></i><span class="location"><%= e.location.html_safe %></span>
                  <% end %>
                  <span class="content">
                    <%= e.description.try(:body) %>
                  </span>
                </div>
              </li>
            <% end if @experiences.volunteers.any? %>
          </ul>
        </div>
      </div>
    </div>
  </div>

</section>