<section id="services" class="col s12 m12 l12 ">
  <h4><span class="main-title"><%= I18n.t(:title, scope: [:views, :services]).upcase %></span></h4>

  <div class="content-block">
    <blockquote class="blockquote"><%= @contents.find_by_key('services').try(:content) %></blockquote>
  </div>

  <div class="content-block">
    <div class="row">

      <div class="col s12 m12 l6">
        <div class="card medium valign-wrapper red darken-4">
          <div class="card-content white-text">
            <header class="card-iconbox"><i class="fa fa-4x fa-code"></i></header>
            <span class="card-title activator"><%= I18n.t(:back_end_development, scope: [:views, :services]) %><i class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><%= I18n.t(:back_end_development, scope: [:views, :services]) %><i class="material-icons right">close</i></span>
            <p><%= @contents.find_by_key('back_end_development').try(:content) %></p>
          </div>
        </div>
      </div>

      <div class="col s12 m12 l6">
        <div class="card medium valign-wrapper red darken-4">
          <div class="card-content white-text">
            <header class="card-iconbox"><i class="fab fa-4x fa-html5"></i></header>
            <span class="card-title activator"><%= I18n.t(:front_end_development, scope: [:views, :services]) %><i class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><%= I18n.t(:front_end_development, scope: [:views, :services]) %><i class="material-icons right">close</i></span>
            <p><%= @contents.find_by_key('front_end_development').try(:content) %>
            </p>
          </div>
        </div>
      </div>

      <div class="col s12 m12 l6">
        <div class="card medium valign-wrapper red darken-4">
          <div class="card-content white-text">
            <header class="card-iconbox"><i class="fa fa-4x fa-mobile-alt"></i></header>
            <span class="card-title activator"><%= I18n.t(:mobile_development, scope: [:views, :services]) %><i class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><%= I18n.t(:mobile_development, scope: [:views, :services]) %><i class="material-icons right">close</i></span>
            <p><%= @contents.find_by_key('mobile_development').try(:content) %>
            </p>
          </div>
        </div>
      </div>

      <div class="col s12 m12 l6">
        <div class="card medium valign-wrapper red darken-4">
          <div class="card-content white-text">
            <header class="card-iconbox"><i class="fa fa-4x fa-server"></i></header>
            <span class="card-title activator"><%= I18n.t(:system_administration, scope: [:views, :services]) %><i class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><%= I18n.t(:system_administration, scope: [:views, :services]) %><i class="material-icons right">close</i></span>
            <p><%= @contents.find_by_key('system_administration').try(:content) %>
            </p>
          </div>
        </div>
      </div>

      <div class="col s12 m12 l6">
        <div class="card medium valign-wrapper red darken-4">
          <div class="card-content white-text">
            <header class="card-iconbox"><i class="fa fa-4x fa-lock"></i></header>
            <span class="card-title activator"><%= I18n.t(:security, scope: [:views, :services]) %><i class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><%= I18n.t(:security, scope: [:views, :services]) %><i class="material-icons right">close</i></span>
            <p><%= @contents.find_by_key('security').try(:content) %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>