<main class="container">
  <div class="row">
    <%= render partial: "about_me" %>
    <%= render partial: "resume" %>
    <%= render partial: "services" %>
    <%= render partial: "portfolio" %>
    <!--<div id="blog" class="col s12">BLOG</div>-->
    <%= render partial: "contact" %>
  </div>
</main>