@-webkit-keyframes flip {
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);

    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@keyframes flip {
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);

    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

.animate.flip {
  -webkit-backface-visibility: visible;
          backface-visibility: visible;

  -webkit-animation-name: flip;
          animation-name: flip;
}
