$outer-ring: #f44336; // red
$middle-ring: #b71c1c; // red darken-4
$inner-ring: #d50000; // red accent-4

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1500;
  #loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;

    border: 2px solid transparent;
    border-radius: 50%;
    border-top-color: $outer-ring;
    border-left-color: $outer-ring;
    border-right-color: $outer-ring;

    -webkit-animation: spin 1s linear infinite;
            animation: spin 1s linear infinite;

    z-index: 1500;
    &:before {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border: 4px solid transparent;
      border-radius: 50%;
      border-left-color: $middle-ring;
      border-right-color: $middle-ring;
      border-bottom-color: $middle-ring;

      -webkit-animation: spin 1.8s linear infinite;
              animation: spin 1.8s linear infinite;
    }
    &:after {
      content: "";
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      border: 2px solid transparent;
      border-radius: 50%;
      border-top-color: $inner-ring;
      border-bottom-color: $inner-ring;

      -webkit-animation: spin 2s linear infinite;
              animation: spin 2s linear infinite;
    }
  }

  .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1000;
  }
  .loader-section.section-left {
    left: 0;
  }
  .loader-section.section-right {
    right: 0;
  }
  .loader-section.section-right, .loader-section.section-left {
    transition: all 0.3s 0.3s ease-out;
  }
}

.loaded {
  #loader {
    opacity: 0;
    transition: all 0.3s ease-out;
  }
  #loader-wrapper {
    visibility: hidden;
    .loader-section.section-left {
      -webkit-transform: translateX(-100%);
          -ms-transform: translateX(-100%);
              transform: translateX(-100%);
    }
    .loader-section.section-right {
      -webkit-transform: translateX(100%);
          -ms-transform: translateX(100%);
              transform: translateX(100%);
    }
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
