@-webkit-keyframes slide {
0% {
    -webkit-transform: translate(-100%);
            transform: translate(-100%);

    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    -webkit-transform: translate(0%);
            transform: translate(0%);

    opacity: 1;
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translate(-100%);
            transform: translate(-100%);

    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    -webkit-transform: translate(0%);
            transform: translate(0%);

    opacity: 1;
  }
}

.animate.slide {
  -webkit-animation-name: slide;
          animation-name: slide;

  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
