<div class="row">
  <div class="input-field col s12 m6">
    <%= form.label :title, :class => 'active'  %><br>
    <%= form.text_field :title %>
  </div>

  <div class="input-field col m6 s12">
    <%= form.label :link, :class => 'active'  %><br>
    <%= form.text_field :link %>
  </div>

  <div class="input-field col s12">
    <%= form.text_field :release_date, :class => 'datepicker' %>
    <%= form.label :release_date, :class => 'active' %>
  </div>

  <div class="input-field col s12">
    <%= form.label :tags, :class => 'active' %><br>
    <% tags = Tag.all %>
    <% selected_tags = form.object.tags.any? ? form.object.tags : [] %>
    <%= select_tag "#{form.object.model_name.name.parameterize}[tags][]", options_from_collection_for_select(tags, 'id', 'name', selected_tags.pluck(:id)), { :multiple => true } %>
  </div>

  <div class="input-field col s12">
    <%= form.label :description %><br><br>
    <%= form.rich_text_area :description %>
  </div>

  <div class="input-field col s12">
    <%= form.label :content_source %><br><br>
    <%= form.rich_text_area :content_source %>
  </div>

  <div class="input-field col s12">
    <%= form.label :notice %><br><br>
    <%= form.rich_text_area :notice %>
  </div>
  
  <div class="input-field col s12">
    <%= form.label :issues %><br><br>
    <%= form.rich_text_area :issues %>
  </div>

  <div class="col s12 m6">
    <label>
      <%= form.check_box :currently_working_on, :class => 'filled-in' %>
      <span><%= I18n.t(:currently_working_on, scope: [:activerecord, :attributes]) %></span>
    </label><br><br>
  </div>
</div>

<script type="text/javascript">
  document.addEventListener("turbolinks:load", function() {
    $('select').formSelect();
    $('.datepicker').datepicker();
  })
</script>