<table style="table-layout: fixed">
  <colgroup>
    <col style="width:  5%" />
    <col style="width: 30%" />
    <!-- <col style="width: 15%" />*/ -->
    <col style="width: 30%" />
    <col style="width:  5%" />
    <col style="width: 30%" />
  </colgroup>

  <thead>
    <tr>
      <th></th>
      <th><%= I18n.t(:title, scope: [:activerecord, :attributes]) %></th>
      <!-- <th><%#= I18n.t(:release_date, scope: [:activerecord, :attributes]) %></th> -->
      <th><%= I18n.t(:tag, scope: [:activerecord, :models]).pluralize %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% project_model.order(release_date: :desc).each do |p| %>
      <tr>
        <td><%= project_icon_tag p.group %></td>
        <td><%= p.title %></td>
        <!-- <td><%#= p.release_date %></td> -->
        <td><%= p.tags.map { |t| content_tag :div, h(t.name), class: "chip" }.join.html_safe unless p.tags.empty? %></td>
        <td><% if p.link.present? %><a href="<%= p.link %>"><i class="fa fa-link"></i><% end %></td>
        <td class="right">
          <%= link_to_edit p, :class => "waves-effect waves-black btn-flat black-text edit-trigger" do %>
            <%= material_icon_tag :create, nil, :class => 'black-text' %>
          <% end %>
          <%= link_to_destroy p, :class => "waves-effect waves-black btn-flat black-text delete-trigger" do %>
            <%= material_icon_tag :delete, nil, :class => 'black-text' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br><br>