
<div class="content-block">
  <div id="experiences" class="row">
    <div class="col s12">
      <h5><%= I18n.t(:project, scope: [:activerecord, :models]).pluralize %></h5>
      <% [Sample, Engine, Game, MobileApp].each do |m| %>
        <%= render partial: 'projects/grid', locals: { project_model: m } %>
      <% end %>

      <div class="actions">
        <div class="fixed-action-btn">
          <a class="btn-floating btn-large">
            <i class="large material-icons">mode_edit</i>
          </a>
          <ul>
            <li><%= link_to new_mobile_app_path, :class => "btn btn-floating" do %><i class="fa fa-mobile"></i><% end %></li>
            <li><%= link_to new_game_path, :class => "btn btn-floating" do %><i class="fa fa-chess"></i><% end %>
            </li>
            <li><%= link_to new_engine_path, :class => "btn btn-floating" do %><i class="fa fa-cube"></i><% end %></li>
            <li><%= link_to new_sample_path, :class => "btn btn-floating" do %><i class="fa fa-flask"></i><% end %></li>
          </ul>

        </div>
      </div>

    </div>
  </div>

</div>

<script type="text/javascript">
  document.addEventListener("turbolinks:load", function() {
    var elems = document.querySelectorAll('.fixed-action-btn');
    var instances = M.FloatingActionButton.init(elems, {
      direction: 'left',
      hoverEnabled: false
    });
  });
</script>