<%= render partial: 'shared/error_messages', locals: { target: @project } %>

<%= form_for @project do |form| %>
  <h5><%= @project_model.header %></h5>
  <%= render partial: 'form', locals: { form: form } %>

  <%= render 'shared/submit', form: form %>
<% end %>