<div class="row">
  <div class="input-field col s12">
    <%= form.label :title, :class => 'active'  %><br>
    <%= form.text_field :title %>
  </div>

  <!-- <div class="input-field col s12 m6">
    <%#= form.label :group, :class => 'active' %><br>
    <%#= form.select(:group, options_for_select(Experience.groups), { include_blank: false }) %>
  </div> -->

  <div class="input-field col s12 m6">
    <%= form.label :organization, :class => 'active'  %><br>
    <%= form.text_field :organization %>
  </div>

  <div class="input-field col s12 m6">
    <%= form.label :location, :class => 'active'  %><br>
    <%= form.text_field :location %>
  </div>

  <div class="input-field col s12 m6">
    <%= form.text_field :start_date, :class => 'datepicker' %>
    <%= form.label :start_date, :class => 'active' %>
  </div>

  <div class="input-field col s12 m6">
    <%= form.text_field :end_date, :class => 'datepicker' %>
    <%= form.label :end_date, :class => 'active' %>
  </div>

  <div class="input-field col s12">
    <%= form.label :description %><br><br>
    <%= form.rich_text_area :description %>
  </div>
  
  <% if @experience_model == Certification %>
    <div class="input-field col s12">
      <%= form.label :credentials %><br><br>
      <%= form.rich_text_area :credentials %>
    </div>
  <% end %>

  <div class="col s12 m6">
    <label>
      <%= form.check_box :currently_working_on, :class => 'filled-in' %>
      <span><%= I18n.t(:currently_working_on, scope: [:activerecord, :attributes]) %></span>
    </label><br><br>
  </div>
</div>

<script type="text/javascript">
  document.addEventListener("turbolinks:load", function() {
    $('select').formSelect();
    $('.datepicker').datepicker();
  })
</script>