<table style="table-layout: fixed">
  <colgroup>
    <col style="width:  5%" />
    <col style="width: 35%" />
    <col style="width: 10%" />
    <col style="width: 10%" />
    <col style="width: 30%" />
  </colgroup>

  <thead>
    <tr>
      <th></th>
      <th><%= I18n.t(:title, scope: [:activerecord, :attributes]) %></th>
      <th><%= I18n.t(:start_date, scope: [:activerecord, :attributes]) %></th>
      <th><%= I18n.t(:end_date, scope: [:activerecord, :attributes]) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% experience_model.order(start_date: :desc).each do |e| %>
      <tr>
        <td><%= experience_icon_tag e.group %></td>
        <td><%= e.title %></td>
        <td><%= e.start_date %></td>
        <td><%= e.end_date %></td>
        <td class="right">
          <%= link_to_edit e, :class => "waves-effect waves-black btn-flat black-text edit-trigger" do %>
            <%= material_icon_tag :create, nil, :class => 'black-text' %>
          <% end %>
          <%= link_to_destroy e, :class => "waves-effect waves-black btn-flat black-text delete-trigger" do %>
            <%= material_icon_tag :delete, nil, :class => 'black-text' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br><br>