
<div class="content-block">
  <div id="experiences" class="row">
    <div class="col s12">
      <h5><%= I18n.t(:experience, scope: [:activerecord, :models]).pluralize %></h5>
      <% [Job, Certification, Degree, Volunteer].each do |m| %>
        <%= render partial: 'experiences/grid', locals: { experience_model: m } %>
      <% end %>

      <div class="actions">
        <div class="fixed-action-btn">
          <a class="btn-floating btn-large">
            <i class="large material-icons">mode_edit</i>
          </a>
          <ul>
            <li><%= link_to new_volunteer_path, :class => "btn btn-floating" do %><i class="fa fa-hand-holding-heart"></i><% end %></li>
            <li><%= link_to new_certification_path, :class => "btn btn-floating" do %><i class="fa fa-certificate"></i><% end %>
            </li>
            <li><%= link_to new_degree_path, :class => "btn btn-floating" do %><i class="fa fa-scroll"></i><% end %></li>
            <li><%= link_to new_job_path, :class => "btn btn-floating" do %><i class="fa fa-briefcase"></i><% end %></li>
          </ul>

        </div>
      </div>

    </div>
  </div>

</div>

<script type="text/javascript">
  document.addEventListener("turbolinks:load", function() {
    var elems = document.querySelectorAll('.fixed-action-btn');
    var instances = M.FloatingActionButton.init(elems, {
      direction: 'left',
      hoverEnabled: false
    });
  });
</script>