<section class="col s12">
  <h4><span class="main-title"><%= I18n.t(:experience, scope: [:activerecord, :models]).pluralize %></span></h4>
  <%= render partial: 'shared/error_messages', locals: { target: nil } %>
  <%= render partial: 'wrapper' %>
</section>