<%= render partial: 'shared/error_messages', locals: { target: @experience } %>

<%= form_for @experience do |form| %>
  <h5><%= @experience_model.header %></h5>
  <%= render partial: 'form', locals: { form: form } %>

  <%= render 'shared/submit', form: form %>
<% end %>