<div class="content-block">
  <div id="tags" class="row">
    <div class="col s12">
      <h5><%= I18n.t(:tag, scope: [:activerecord, :models]).pluralize %></h5>

      <% @tags.each do |tag| %>
        <div class="chip">
          <%= tag.name %>
          <%= link_to tag_path(id: tag.id), method: :delete do %>
              <i class="close material-icons">close</i>
            <% end %>
        </div>
      <% end unless @tags.nil? %>
    </div>
  </div>  
  <div class="actions">
    <div class="action-btn">
      <a class="waves-effect waves-light btn-floating btn-large modal-trigger" href="#new_tag_modal">
        <%= material_icon_tag :add, nil, :class => 'large' %>
      </a>
    </div>
  </div>                  
</div>

<div id="new_tag_modal" class="modal">
  <%= form_tag :tags, method: :post do %>
    <div class="modal-content left-align">
      <h5 class="border-b-1 p-b-10"><%= I18n.t(:create_multiple, resource: Tag.model_name.human.pluralize, scope: [:views, :actions])%></h5>
        <div class="chips"></div>
        <%= hidden_field_tag :names, nil, id: 'tag_names' %>
    </div>
    <div class="modal-footer">
      <%= render "shared/submit_modal" %>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  document.addEventListener("turbolinks:load", function() {
    $('.modal').modal();
    $('.chips').chips({
      placeholder: 'Enter a tag',
      secondaryPlaceholder: '+Tag',
      autocompleteOptions: {
        data: {
          'Ruby': null,
          'Ruby on Rails': null,
          'JavaScript': null,
          'Node': null,
          'Express': null,
          'React': null,
          'React Native': null,
          'Python': null,
          'Linux': null,
          'MySQL': null,
          'MariaDB': null,
          'PostgreSQL': null,
          'MongoDB': null,
          'HTML': null,
          'SASS': null,
          'LESS': null,
          'CSS': null
        },
        limit: Infinity,
        minLength: 1
      },
      onChipAdd: function(chip){
        let tag = this.chipsData[this.chipsData.length - 1].tag + ', ';
        $('#tag_names').val($('#tag_names').val() + `${tag}`);
      }
    });
  })

  $(document).on('click', '.modal-trigger', function (e) {
    e.preventDefault();
    let elem = document.querySelector('.modal');
    let instance = M.Modal.getInstance(elem);
    instance.open();
  })
</script>