<section class="col s12">
  <h4><span class="main-title"><%= I18n.t(:log_in, scope: [:devise, :views]) %></span></h4>
  <div class="content-block">

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

    <!--   <%# if devise_mapping.rememberable? %>
        <div class="field">
          <%#= f.check_box :remember_me %>
          <%#= f.label :remember_me %>
        </div>
      <%# end %> -->

      <%= f.button :submit, class: "btn btn-block  waves-effect waves-light" do %>
        <span><%= I18n.t(:account_sign_in, scope: [:devise, :views]) %></span>
      <% end %>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</section>