main {
  a {
    color: $secondary-color;
  }

  svg.svg-inline--fa {
    color: $secondary-color;
  }
}

h4 {
  text-align: center;
  margin: 4rem 0 !important;
}

h5 {
  position: relative;
  margin: 2rem 0 !important;
  color: $secondary-color;
  i.fa {
    position: absolute;
  }
  span {
    margin-left: 1rem;
  }
}

span.main-title {
  position: relative;
  &:before, &:after {
    content: "";
    display: block;
    width: 3rem;
    height: 1px;
    background-color: $secondary-color;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
  &:before {
    left: -4rem;
  }
  &:after {
    right: -4rem;
  }
}

section>.content-block {
  &:not(.floating-action-btn) {
    .btn {
      &.waves-effect {
        margin: 3rem auto 0rem auto;
        max-width: 16rem;
        font-weight: 500;
        display: block;
        svg {
          margin-right: 1rem;
          color: white;
        }
      }
    }
    .btn-floating {
      svg {
        position: absolute;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);

        left: 50%;
        top: 50%;

        color: white;
      }
    }
  }
  .icon-prefix>.trix-content {
    margin-left: 48px
  }
}

.floating-action-btn {
  ul{
    display: inline-block;
    li {
      display: inline-block;
    }
  }
}

.btn { 
  background-color: $secondary-color;
}

.actions {
  position: relative;
  height: 70px;
  .fixed-action-btn {
    position: absolute;
    bottom: 0;
  }
  .action-btn {
    // position: absolute;
    // bottom: 0;
    // right: 0;
  }
}

.u-margin-bottom {
  margin: 0rem auto 1rem auto;
}

section>.content-block:not(:last-child) {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  padding-bottom: 4rem !important;
  margin-bottom: 4rem !important;
  border-bottom: .1rem dashed $secondary-color;
}

main.container>.row>section {
  margin-bottom: 0px !important;
  padding: 0px 1.75rem !important;
}

.page-footer {
  background-color: $primary-color;
  ul {
    text-align: right;
  }
  ul>li {
    display: inline-block;
    padding-bottom: 20px;
    padding-left: 20px;
  }
}

.alert {
  padding: 20px;
  line-height: 0px;
  border-radius: 2px;

  color: white;
  background-color: $secondary-color;
  i.fa {
    color: white;
  }
}

.input-field {
  label {
    z-index: -1;
  }
}