@import "utilities/materialize_variables";

.blockquote {
  position: relative;
  border-color: $secondary-color;
  // &:before {
  //   position: absolute;
  //   font-family: "Font Awesome 5 Free" !important;
  //   font-weight: 900;
  //   content: "\f10d"
  // }
  // .trix-content>div {
  //   padding-left: 32px;
  //   &:after{
  //     font-family: "Font Awesome 5 Free" !important;
  //     font-weight: 900;
  //     content: "\f10e";
  //     padding-left: 12px;
  //   }
  // }
}
