.card-iconbox {
    padding: 2rem 0;
    text-align: center;
    position: relative;
  >svg.svg-inline--fa {
    border: .3rem solid #fff;
    border-radius: 50%;
    position: relative;
    box-sizing: border-box;
    padding: 0.5rem;
    width: 4rem;
    height: 4rem;
    color: white;
    &:before {
      position: absolute;
      transform: translate3d(-50%, -50%, 0);
      top: 50%;
      left: 50%;
      color: white;
    }
  }
  &:after {
    content: "";
    display: block;
    background-color: #fff;
    width: 4rem;
    height: .3rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
}

.content-block .card {
  position: relative;
  min-height: 250px;
  .card-image {
    border-bottom: 1px solid rgba(160,160,160,0.2);
    img {
      max-width: 28rem;
      margin: 2rem auto;
    }
  }
  .card-content {
    width: 100%;
    .card-title {
      padding: 24px;
      font-weight: 400;
      text-align: center;
      i {
        line-height: 32px;
        position: absolute;
        right: 1rem;
      }
    }
  }
  .card-reveal {
    label.card-date {
      font-weight: bold;
      svg {
        padding-right: 8px;
        font-size: 17px;
      }
    }
    &>p.card-description {
      border-bottom: 0.1rem dashed #a33634;
      padding-bottom: 2rem;
    }
  }
}
