form {
  input:not([type]).valid, input[type=text].valid,
  input[type=password].valid, input[type=email].valid,
  input[type=url].valid, input[type=time].valid,
  input[type=date].valid, input[type=datetime].valid,
  input[type=datetime-local].valid, input[type=tel].valid,
  input[type=number].valid, input[type=search].valid,
  textarea.materialize-textarea.valid, {
    border-bottom: 1px solid #9e9e9e;
    box-shadow: none;
  }
  input:not([type]):focus.valid, input[type=text]:focus.valid,
  input[type=password]:focus.valid, input[type=email]:focus.valid,
  input[type=url]:focus.valid, input[type=time]:focus.valid,
  input[type=date]:focus.valid, input[type=datetime]:focus.valid,
  input[type=datetime-local]:focus.valid, input[type=tel]:focus.valid,
  input[type=number]:focus.valid, input[type=search]:focus.valid,
  textarea.materialize-textarea:focus.valid {
    border-bottom: 1px solid #B71C1C;
    box-shadow: 0 1px 0 0 #B71C1C;
  }
  input:-webkit-autofill, textarea-webkit-autofill, select-webkit-autofill {
      background-color: white !important;
  }
}

#error_explanation {
  position: relative;
  margin: 3rem auto;

  text-align: center;

  padding: 1rem 2rem 1rem 2rem;
  border-radius: 2px;
  color: white;
  background-color: #b71c1c;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  h2 {
    position: relative;

     display: inline-block;
     margin: 2rem auto;
     font-size: 1.6rem;
    b {
      display: block;
      margin: 0 auto 2rem auto;

      border-radius: 50%;
      border: 3px solid white;
      width: 48px;
      padding: 8px;
    }
    /*
    &:before {
      position: absolute;
      left: 50%;
      top: 25%;

      transform: translate(-50%, -50%);

      content: '\f071';
      font-family: FontAwesome;
      font-size: 3rem;
    }
    &:after {
      position: absolute;
      left: 50%;
      top: 25%;

      transform: translate(-50%, -50%);

      content: '';
      border-radius: 50%;
      border: 3px solid white;
      padding: 3rem;

      width: 3rem;
      height: 3rem;
    } */
  }
  ul {
    padding-left: 2rem;
    li {
      display: inline-block;
      padding-right: 1rem;
      margin-bottom: 0.5rem;
      min-width: 170px;
    }
    li:not(:nth-child(1)) {
      border-left: 2px solid white;
      padding-left: 1rem;
    }
  }
}
