.icon-block {
  position: relative;
  margin: 4rem auto 0px auto;
  svg {
    display: block;
    margin: 0 auto 10px auto;
    opacity: 0;
  }
  label {
    display: block;
    font-size: 14px;
    word-wrap: break-word; 
  }
  .title {
    font-weight: bold;
    color: #000;
  }
}
