.s-success.modal {
  overflow: visible;

  text-align: center;
  margin: 0 auto;
  width: 35%;
  &.modal-fixed-footer {
    height: 25%;
  }
  &:before {
    content: '';
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

    background-color: white;
    width: 50px;
    height: 50px;
    border: 10px solid white;
    border-radius: 50%;
  }
  &:after {
    position: absolute;
    top: 0;
    
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

    content: '\f058';
    font-family: FontAwesome;
    font-size: 5rem;

    color: #4caf50;
  }
  .modal-content {
    padding: 24px;
  }
  .modal-footer {
    padding: 24px;
    height: auto;
    .btn-floating {
      svg {
        position: absolute;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);

        left: 50%;
        top: 50%;

        color: white;
      }
    }
    .btn-flat {
      float: none;
    }
  }
}
