nav ul.tabs {
  overflow-x: hidden;
  li {
    font-weight: bold;
    svg {
        margin-right: 1rem;
    }
  }
}

.sidenav.tabs li.tab>a.active {
  color: white;
  background-color: $primary-color;
  svg {
    color: white;
  }
}

.sidenav.tabs {
  display: block !important;
  height: 100%;
  .tab {
    display: block;
    a {
      position: relative;
      text-align: left;
      font-weight: bold;
      &:hover {
        background-color: $primary-color;
        color: white;
        svg {
          color: white;
        }
      }
      svg {
        margin-right: 1rem;
        &:before {
          position: absolute;
        }
      }
    }
  }
}

#navbar li>a>svg {
  margin-right: 10px;
}
