@import "utilities/materialize_variables";

.timeline {
  border-left: 4px solid $secondary-color;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  margin-bottom: 2rem;
  .collapsible-header {
    position: relative;
    display: block;
    label {
      margin-left: 8px;
      &.date {
        position: relative;
        padding-left: 24px;
        svg {
          position: absolute;
          left: 0;
          line-height: 0rem;
          height: 24px;
        }
      }
    }
    span {
      margin-left: 8px;
      &.title {
        display: block;
        font-weight: bold;
      }
      &.organization {
        display: block;
      }
    }
    &:before, &:after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);

      transition: background-color .4s ease-out;
    }
    &.degree {
      &:before {
        content: '\f70e';
      }
    }
    &.certificate {
      &:before {
        content: '\f5b7';
      }
    }
    &.completed {
      &:before {
        content: '\f00c';
      }
    }
    &.pending {
      &:before {
        content: '\f141';
      }
    }
    &:before {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      left: -4.8rem;
      color: $secondary-color;
      background-color: white;
      border: 2px solid $secondary-color;

      z-index: 100;

      font-family: "Font Awesome 5 Free" !important;
      font-weight: 900;
      text-align: center;
      line-height: 25px;
    }
    &:after {
      width: 4rem;
      height: 2px;
      left: -4rem;
      background-color: $secondary-color;
    }
    svg {
      position: absolute;
    }
  }
  li.active>.collapsible-header {
    &:before {
      left: -3.2rem;
    }
    &:after {
      width: 2rem;
      left: -2rem;
    }
  }
  .collapsible-body {
    position: relative;
    svg {
      color: #000;
      position: absolute;
    }
    span.location {
      display: block;
      margin-left: 32px;
    }
    span.content {
      display: block;
    }
  }
}
