@import "utilities/materialize_variables";

trix-toolbar {
  .trix-button-row {
    flex-wrap: wrap;
  }
  .trix-button-group {
  	margin-bottom: 10px;
	margin-left: 0;
  }
  .trix-button-group:not(:first-child) {
	margin-left: 0;
  }
  .trix-button-group {
  	border: none;
  }
  .trix-button.trix-active {
	background: $secondary-color;
    color: black;
  }
  .trix-button:not(:first-child) {
    border-left: none;
  }
  .trix-button {
  	border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 24px;
    margin: 2px;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  }
  .trix-button--icon::before {
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    width: 24px;
    height: 24px;
  }
  .trix-dialog {
  	top: -3px;
  	border: none;
  }
  input[type=url]:not(.browser-default) {
  	margin: 0 8px 8px 0px;
  }
}
trix-editor {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #9e9e9e;
  &:focus {
  	border-bottom: 1px solid $secondary-color;
    box-shadow: 0 1px 0 0 $secondary-color;
  }
}
