<div class="row">
  <div class="input-field col s12 m6">
    <%= form.label :name, :class => 'active' %><br>
    <%= form.select(:name, options_for_select(Tag.pluck(:name), form.object ? form.object.name : Tag.first.name), { include_blank: false }) %>
  </div>

  <div class="input-field col s12 m6">
    <%= form.label :expertise  %><br>
    <%= form.text_field :expertise, data: {autonumeric: {mDec: 0}} %>
  </div>

  <div class="col s12 m6">
    <label>
      <%= form.check_box :highlight, :class => 'filled-in' %>
      <span><%= I18n.t(:highlight, scope: [:activerecord, :attributes]) %></span>
    </label><br><br>
  </div>
</div>

<script type="text/javascript">
  document.addEventListener("turbolinks:load", function() {
    $('select').formSelect();
  })
</script>