<div class="content-block">
  <div id="technologies" class="row">
    <div class="col s12">
      <h5><%= I18n.t(:technology, scope: [:activerecord, :models]).pluralize %></h5>
      <table style="table-layout: fixed">
        <colgroup>
          <col style="width: 35%" />
          <col style="width: 15%" />
          <col style="width: 10%" />
          <col style="width: 30%" />
        </colgroup>
        <thead>
          <tr>
            <th><%= I18n.t(:name, scope: [:activerecord, :attributes]) %></th>
            <th><%= I18n.t(:expertise, scope: [:activerecord, :attributes]) %></th>
            <th><%= I18n.t(:highlight, scope: [:activerecord, :attributes]) %></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @technologies.each do |t| %>
            <tr>
              <td><%= t.name %></td>
              <td><%= t.expertise %></td>
              <td><%= material_true_or_false_icon_tag t.highlight %></td>
              <td class="right">
                <%= link_to_edit t, :class => "waves-effect waves-black btn-flat black-text edit-trigger" do %>
                  <%= material_icon_tag :create, nil, :class => 'black-text' %>
                <% end %>
                <%= link_to_destroy t, :class => "waves-effect waves-black btn-flat black-text delete-trigger" do %>
                  <%= material_icon_tag :delete, nil, :class => 'black-text' %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="actions">
        <div class="action-btn">
          <%= link_to new_technology_path, :class => "waves-effect waves-light btn-floating btn-large" do %>
            <%= material_icon_tag :add, nil, :class => 'large' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>