<%= render partial: 'shared/error_messages', locals: { target: @technology } %>

<%= form_for @technology do |form| %>
  <h5><%= Technology.model_name.human %></h5>
  <%= render partial: 'form', locals: { form: form } %>

  <%= render 'shared/submit', form: form %>
<% end %>