<!DOCTYPE html>
<html>
  <head>
    <title>Nickthegeek</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'admin_application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <nav class="nav-extended">
      <div class="nav-wrapper">
        <a href="#" data-target="navbar" class="sidenav-trigger" style="display: block"><i class="material-icons">menu</i></a>
        <ul>
          <li class="right"><%= link_to dashboard_path do %><i class="fa fa-home"></i><% end %></li>
        </ul>
      </div>
    </nav>

    <ul class="sidenav " id="navbar">
      <li><%= link_to experiences_path do %><i class="fa fa-certificate"></i><%= I18n.t(:experience, scope: [:activerecord, :models]).pluralize %><% end %></li>
      <li><%= link_to technologies_path do %><i class="fa fa-gem"></i><%= I18n.t(:technology, scope: [:activerecord, :models]).pluralize %><% end %></li>
      <li><%= link_to tags_path do %><i class="fa fa-tag"></i><%= I18n.t(:tag, scope: [:activerecord, :models]).pluralize %><% end %></li>
      <li><%= link_to contents_path do %><i class="fa fa-align-left"></i><%= I18n.t(:content, scope: [:activerecord, :models]).pluralize %><% end %></li>
      <li><%= link_to projects_path do %><i class="fa fa-project-diagram"></i><%= I18n.t(:project, scope: [:activerecord, :models]).pluralize %><% end %></li>
      <li>
        <% if user_signed_in? %>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-sign-out-alt"></i>     
            <%= I18n.t(:account_sign_out, scope: [:devise, :views]) %>
          <% end %>
        <% end %> 
      </li>
    </ul>

    <main class="container">
      <div class="row">
        <%= yield %>
      </div>
    </main>
  </body>
</html>

<script type="text/javascript">
  document.addEventListener("turbolinks:load", function() {
    $("#success_message").delay(3000).slideUp(300);
    $("#error_message").delay(3000).slideUp(300);
    
    $('.sidenav').sidenav();
    $(document).on('click', '.sidenav-trigger', function (e) {
      e.preventDefault();
      let elem = document.querySelector('.sidenav');
      let instance = M.Sidenav.getInstance(elem);
      instance.open();
    })

  })
</script>

